@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    flex-direction: column;
}
.scroll{
    position: relative;
    display: flex;
    width: 700px;
    overflow: hidden;
    /* background: #f00; */
    -wibkit-mask-image: liner-gradient(90deg,transparent, #fff 20%,#fff 80%, transparent)
}

.scroll div{
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var (--t) * -1);
}
.scroll div:nth-child(2){
  animation: animate2 var(--t) linear infinite;
  animation-delay: calc(var (--t) / -2);

}
@keyframes animate{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
 
}
@keyframes animate2{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-200%);
  }
}


.scroll div span{
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all .5s;
}

.scroll div span:hover{
  background: #4caf50;
  cursor: pointer;
}
.imgbox img{
  max-width: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  scale: 0.8;
  filter: grayscale(1);
}
.imgbox img:hover{
  filter: grayscale(0);
}